.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 60px;
}

.sobreNosHeader {
  text-align: center;
}

.tituloBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 10px;
  gap: 15px;
}

.tituloBox h2 {
  font-size: 18px;
  font-weight: bold;
  color: #1b3c74;
  white-space: nowrap;
}

.tituloBox .linha {
  flex: 1;
  height: 1px;
  background: #cfd8ea;
}

.subtitulo {
  text-align: center;
  color: #777;
  font-size: 13px;
  margin-bottom: 40px;
}


/* Texto e Imagens*/
.contentWrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 40px;
}

.sobreNosText {
  flex: 2;
  text-align: justify;
}

.sobreNosText p {
  line-height: 1.6;
  margin-bottom: 15px;
}

/*Recomendações */
.recomendacoesSectionWrapper {
  flex: 1; 
  border-left: 1px solid #cfd8ea; 
  padding-left: 40px; 
}

.recomendacoesSectionWrapper h3 {
  font-size: 16px;
  color: #1b3c74;
  margin-bottom: 20px;
}

.gridReceitas {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 75px;
  gap: 15px;
}

.cardReceita {
  /* altura e a largura do container pai */
  width: 90%; 
  height: 120px; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /* ESSENCIAL: Permite que a imagem filha com fill se posicione relativamente a este bloco */
  position: relative; 
}


.cardReceita img {
  object-fit: cover; 
  transition: transform 0.2s; 
}

.cardReceita img:hover {
  transform: scale(1.05);
}

/*Desenvolvedores */
.desenvolvedoresSection {
  margin-top: 40px;
  padding-top: 1px;
  padding-bottom: 45px;
}

.desenvolvedoresSection h4 {
  color: #1b3c74;
  margin-bottom: 10px;
}

.desenvolvedoresSection ul li {
  list-style: none;
  margin-bottom: 5px;
}

.sociais {
  margin-top: 40px;
}

.sociaish2 {
  color: #1b3c74;
  margin-bottom: 14px;
  text-align: left;
}

.icones {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
