.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 60px;
}

/* --- Estilos do Cabeçalho da Seção --- */
.sobreNosHeader {
  text-align: center;
}

.tituloBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 10px;
  /* Espaçamento superior e inferior do título */
  gap: 15px;
}

.tituloBox h2 {
  font-size: 18px;
  font-weight: bold;
  color: #1b3c74;
  white-space: nowrap;
}

.tituloBox .linha {
  flex: 1;
  /* Faz a linha ocupar o espaço restante */
  height: 1px;
  background: #cfd8ea;
}

.subtitulo {
  text-align: center;
  color: #777;
  font-size: 13px;
  margin-bottom: 40px;
  /* Espaçamento abaixo do subtítulo */
}


/* --- Seção de Conteúdo Principal (Texto e Imagens) --- */
.contentWrapper {
  display: flex;
  flex-direction: row;
  /* Texto na esquerda, Imagens na direita (padrão) */
  gap: 40px;
  /* Espaçamento entre as duas colunas */
  margin-bottom: 40px;
  /* Espaço antes da seção de desenvolvedores */
}

.sobreNosText {
  flex: 2;
  /* Ocupa 2/3 do espaço disponível */
  text-align: justify;
}

.sobreNosText p {
  line-height: 1.6;
  margin-bottom: 15px;
}

/* Container do texto */

.recomendacoesSectionWrapper {
  flex: 1;
  border-left: 1px solid #cfd8ea;
  padding-left: 40px;
}

.recomendacoesSectionWrapper h3 {
  font-size: 16px;
  color: #1b3c74;
  margin-bottom: 20px;
}

.gridReceitas {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cardReceita {

  width: 90%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Container da parte desenvolvedores*/
.desenvolvedoresSection {
  margin-top: 40px;
  padding-top: 1px;
}

.desenvolvedoresSection h4 {
  color: #1b3c74;
  margin-bottom: 10px;
}

.sociais {
  margin-top: 40px;
  text-align: center;
}

.sociais h2 {
  color: #1b3c74;
  margin-bottom: 20px;
}

.icones {
  display: flex;
  justify-content: left;
  gap: 20px;
}

.iconesTitulo {
  justify-content: left;
  display: flex;
}

.li{
  list-style: none;
}

/* Adicione media queries se quiser que o layout se adapte a celulares */
@media (max-width: 768px) {
  .contentWrapper {
    flex-direction: column;
    /* Em telas menores, empilha texto em cima, imagens embaixo */
  }

  .recomendacoesSectionWrapper {
    border-left: none;
    /* Remove a linha vertical em mobile */
    padding-left: 0;
    margin-top: 20px;
  }

  .container {
    padding: 0 20px;
  }
}